body{
    background-image: url(../img/plumas.jpg);
    background-size: 100px;
    background-repeat: repeat;
}

p{
    margin-right: 500px;
    font-size: 20px;
    background-color: rgb(255, 255, 255, 0.5);
}