.tarjeta{
    border-style: solid;
    border-radius: 15px;
    border-color: blueviolet;
    border-width: 2px;
    width: 500px;
    margin: 25px auto 25px;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;

}

img{
    width: 75%;
}